.kgallery-video {
    max-width: 100vw; /* 让画廊占据视口的最大宽度 */
    margin: 0; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
    display: flex; /* 使用 flexbox 进行水平布局 */
    justify-content: flex-start; /* 确保从左到右排列 */
    align-items: flex-end; /* 视频和文字顶部对齐 */
}

.kgallery-video__item {
    flex-grow: 1; /* 视频自适应占据剩余空间 */
    margin: 0;
    padding: 0;
}

.kgallery-video__item iframe {
    width: 100%; /* 让 iframe 视频占满容器 */
    height: 100%; /* 高度自动 */
    aspect-ratio: 16/9; /* 保持16:9的宽高比 */
    max-height: 600px; /* 限制最大高度 */
    border: none; /* 移除边框 */
    border-right: 2px solid #bebebe;
}

.kgallery-video__caption {
    width: 450px; /* 固定文字宽度 */
    margin-left: 12px; /* 视频与文字之间的间距 */
    padding: 0; /* 移除内边距 */
}

.kgallery-video__caption p {
    font-size: 15px; /* 设置文字大小 */
    line-height: 1.2;
    color: #555;
    word-wrap: break-word; /* 强制文字换行 */    
    margin: 0; /* 移除段落外边距 */
    padding: 0; /* 移除内边距 */
    text-align: justify; /* 设置两端对齐 */
}

/* 媒体查询 */
@media (min-width: 768px) {
    .kgallery-video__caption {
        width: 200px; /* 平板设备宽度 */
    }
}

@media (min-width: 1024px) {
    .kgallery-video__caption {
        width: 300px; /* 大屏幕设备宽度 */
    }
}
