.kgallery {
    max-width: 100vw; /* 让画廊占据视口的最大宽度 */
    margin: 0; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
}

.kgallery__item {
    display: flex; /* 使用 flexbox 进行水平布局 */
    justify-content: flex-start; /* 从左到右排列 */
    align-items: flex-end; /* 确保图片和文字底部对齐 */
    width: 100%; /* 每个项占满父容器的宽度 */
    margin-bottom: 20px; /* 控制每个项之间的间距 */
    padding: 0; /* 移除任何内边距 */
}

.kgallery__item img {
    flex-grow: 1; /* 图片自适应占据剩余空间 */
    width: auto;
    max-width: 80%; /* 图片最大宽度为80% */
    height: auto; /* 保持图片比例 */
    max-height: 800px;
    object-fit: contain; /* 保持图片比例 */
    margin-left: auto; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
    border-right: 2px solid #bebebe; /* 添加图片容器的右边线，颜色为黑色，宽度为2px */
}

.kgallery__caption {
    width: 450px; /* 固定文字宽度 */
    margin-left: 12px; /* 图片与配文之间的间距 */
    padding: 0; /* 移除内边距 */
}

.kgallery__caption p {
    font-size: 15px; /* 设置文字大小 */
    line-height: 1.2;
    color: #555;
    word-wrap: break-word; /* 强制文字换行 */    
    margin: 0; /* 移除段落外边距 */
    padding: 0; /* 移除内边距 */
    text-align: justify; /* 设置两端对齐 */
}

/* 媒体查询 */
@media (min-width: 768px) {
    .kgallery__caption {
        width: 200px; /* 平板设备宽度 */
    }
}

@media (min-width: 1024px) {
    .kgallery__caption {
        width: 300px; /* 大屏幕设备宽度 */
    }
}
